@tailwind base;
@tailwind components;
@tailwind utilities;

/* Landing Page Gradient Animation */
.landing-background {
  background: linear-gradient(135deg, #d2a679, #8b4513);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  height: 100vh;
  margin: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Highlighting Tiles */
.tile {
  transition: background-color 0.5s ease-in-out;
}

/* Start Screen Animations */
@keyframes moveToCenterFromLeft {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveToCenterFromRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-from-left {
  animation: moveToCenterFromLeft 1s ease-in-out forwards;
}

.animate-from-right {
  animation: moveToCenterFromRight 1s ease-in-out forwards;
}

.animate-from-bottom {
  animation: moveToCenterFromBottom 1s ease-in-out forwards;
}

.button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.tileBorder {
  border: 1px solid white;
}
